.bglogin {
    position: relative;
    background: url("/src/assets/Login Design.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

.card {
    position: absolute;
    top: 24%;
    margin-left: 6%;
    width: 40vw;
    border-top-left-radius: 6% !important;
    border-top-right-radius: 6% !important;
    border-bottom-right-radius: 6% !important;
    border-bottom-left-radius: 6% !important;
}

.card2 {
    position: absolute;
    top: 21.5%;
    margin-left: 3.5%;
    width: 45vw;
    border-top-left-radius: 6% !important;
    border-top-right-radius: 6% !important;
    border-bottom-right-radius: 6% !important;
    border-bottom-left-radius: 6% !important;
}

.navbar {
    background-color: #c18dd0;
    font-size: x-large;
}

.sidebar {
    margin-top: 22%;
    background-color: #c18dd0;
}

.btn-danger {
    background-color: #c18dd0 !important;
}
