.card{
    position: relative;
    height: 77vh;
    width: 20vw;
    margin-left: 20px;
    background: url("/src/assets/Sidebar.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: center;
}